/* Page Layout Styles */
* {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: right;
}

.page1-bg {
  background-image: url('images/network.jpg');
  background-position: center;
  background-size: cover;
  text-align: right;
}

.page2-bg {
  background-color: #323334;
}

.page3-bg {
  background-color: #4191B3;
}

.page4-bg {
  background-color: #3A81BD;
}

/* Typography */
.description {
  display: none;
}

.h1-reduced{
  font-size: 50px;
}
.subtext {
  font-size: 20px;
}

.name {
  color: #2DC6D9;
  /* color: #323334; */
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 15px;
}

.h-line {
  text-decoration: none;
}

/* IMAGES */
.project-images {
  height: 20vw;
  width: 40vw;
}

i {
  height: 20px;
  width: 20px;
}

/* About Me */
.collapsible {
  background-color: #3A81BD;
}

.collapsible-header {
  background-color: #4191B3;
}

.theme-btn {
  margin-top: 20px;
}

/* SECOND THEME */
.page1-bg-dv {
  background-image: url('images/dv-bg.png');
  background-position: center;
  background-size: cover;
  text-align: right;
}

.page2-bg-dv {
  background-image: url('images/red-black-pg2.jpg');
  background-position: center;
  background-size: cover;
}

.page3-bg-dv {
  background-color: #801515;
}

.page4-bg-dv {
  background-image: url('images/red-saber.jpg');
  background-position: center;
  background-size: cover;
}

.name-dv {
  color: #CE0C2C;
}

.collapsible-dv {
  background-color: #5A0909;
  background-color: rgba(0, 0, 0, 0.5);
}

.collapsible-header-dv {
  background-color: #5f0000;
}

.h-line-dv {
  text-decoration: line-through;
}

@media only screen and (max-width: 480px) {
  .page1-bg-dv {
    background-image: url('images/dv-bg-mob.png');
    background-position: center;
    background-size: cover;
    text-align: right;
  }

  .page4-bg-dv {
    background-image: url('images/red-saber-mob.jpg');
    background-position: center;
    background-size: cover;
  }

  .text-mobile {
    font-size: 12px;
  }

  .proj-hidden{
    display: none;
  }

}
